<h1></h1>
@Html.ActionLink("A without ID", "A")
@Html.ActionLink("B without ID", "B")
@Html.ActionLink("C without ID", "C")
<br />
@Html.ActionLink("A with ID", "A", new { id = 123 })
@Html.ActionLink("B with ID", "B", new { id = 123 })
@Html.ActionLink("C with ID", "C", new { id = 123 })
